@media screen and (max-width: 700px) {
    .container {
        padding: 7rem 3rem;
    }

    .about-stats .progress-bars {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-container .right-about {
        grid-template-columns: repeat(1, 1fr);
    }

    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-title h2 {
        font-size: 3rem;
    }
    .main-title h2 span {
        font-size: 3rem;
    }
    .main-title h2 .bg-text {
        font-size: 4rem;
    }
}
